html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #FFF;
  width: 100vw;
  overflow-x: hidden;
}

header {
  background: #FFF;
  color: #333;
  padding: 1rem 0;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;
  margin: auto;

  @media screen and (max-width: 950px) {
    flex-direction: column;
  }
}

nav .logo img {
  width: 200px;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

}

nav a {
  color: #333;
  text-decoration: none;
  padding: 0 1rem;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  justify-content: center;
}

h1 {
  background-color: #6093D4;
  padding: 8px;
  max-width: 80%;
  @media screen and (max-width: 950px) {
    max-width: 100%;
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.container {
  display: flex;
  max-width: 1000px;

  @media screen and (max-width: 950px) {
    flex-direction: column;
  }
}

.firenzImg {
  width: 30%;
  @media screen and (max-width: 950px) {
    width: 100%;
  }
}

.firenzContent {
  margin: 0 0 0 32px;

  h1 {
    max-width: unset;
  }

  @media screen and (max-width: 950px) {
    margin: 0;

    p {
      margin: 16px;
    }
  }
}

.EPCContent {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    align-items: center;
    @media screen and (max-width: 950px) {
      ,
      0
      ,03
      flex-direction: column;
    }

    .col1 {
      flex: 1 0 70%;
    }

    img {
      max-height: 300px;
    }

    p {
      padding-right: 32px;
    }
  }
}

.renoContent {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    align-items: center;

    img {
      max-height: 300px;
    }

    p {
      padding-left: 32px;
    }
  }
}

.howContent {
  display: flex;
  flex-direction: column;

  video {
    width: 100%;
    max-width: 500px;
    align-self: center;
    padding-top: 32px;
  }
}

.tarifContent {
  display: flex;
  flex-direction: column;

  .row {
    display: flex;
    align-items: center;

    div {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    img {
      max-height: 300px;
      max-width: 100%;
    }

    p {
      padding-right: 32px;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;

  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
  }

  col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .contactContent {
    display: flex;
    flex-direction: row;

    div {
      margin-left: 32px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    li {
      margin: 16px 0;

      a {
        color: #333;
        text-decoration: none;
      }
    }
  }

  #lukas {
    height: 300px;
    padding-right: 32px;
    border-right: 4px solid #165F82;
  }

  #logo {
    height: 150px;
  }
}

